.nDmsLeQZWY {
  padding-left: 16px;
  padding-right: 16px;

  .NybpeZWioG {
    font-size: 16px;
  }
  .ZgdoAjqZUS {
  }

  .pfkCNNwWTK {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 12px;
    border: 2px solid #eae4db;
    .JLspkUIiFi {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      .ZcrichZcgz {
        .QxlGSsMZxo {
          width: 92px;
          height: 92px;
        }
      }

      .LKgaKggKcg {
        padding-left: 12px;
        .VwSnGrJVsj {
          font-size: 12px;
          background-color: #cbc2bd;
          height: 18px;
          padding-left: 8px;
          padding-right: 8px;
          width: fit-content;
          border-radius: 8px;
          color: #ffffff;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 8px;
        }
        .KOowDHrYrj {
          font-size: 14px;
          margin-bottom: 8px;
        }
        .BSShVmitZl {
          font-size: 14px;
          color: #8e8e8c;
        }
      }
    }
  }
}
