.NpfLHZuWez {
  height: 60px;

  .VWNDayujsc {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f5f080;
    z-index: 11;

    .IGqafBOSef {
      .OvMUPgOjWo {
        width: 82px;
      }
    }

    .nAMbDjaVGd {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    .DZHvryiInZ {
    }
  }
}
