.HhiTFJtLcJ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
  
  .IjybfPQVZf {
    .BpvftBpifE {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }
    .qjVFsfygPv {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }
    .SpYRSLdnHs {
      font-size: 14px;
      color: #7e7d7b;
    }
  }

  .jdwdJWzWCE {
    border: 1px solid #5818c6;
    background-color: #ffffff;
    color: #5818c6;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 8px;
  }
}
