.oLxVmeUrca {
  padding-left: 16px;
  padding-right: 16px;

  .uHHnPIVAta {
    background-color: #ffffff;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #eae5dd;
    padding-top: 12px;
    padding-bottom: 12px;
    .VZChztsOhD {
      display: flex;
      justify-content: space-between;
      padding-left: 16px;
      padding-right: 16px;

      .MOkybOBSpD {
        .oxFwOPBamu {
          width: 20px;
          margin-right: 12px;
          object-fit: contain;
          height: 20px;
        }
        .WKpmYsjiAi {
          font-size: 14px;
          font-weight: bold;
          color: #5818c6;
        }
      }

      .FTeHcuOwxg {
        .LFxpIfByOQ {
        }
      }
    }
    .RYUgDWefxU {
      padding-left: 16px;
      padding-right: 16px;
      .mgDinYHUYk {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        .hAxeHAYDTs {
          .hUHZdVuXoy {
            font-weight: bold;
            color: #424242;
          }
        }
      }

      .FTeHcuOwxg {
        .FiGHGlpDrQ {
          font-size: 14px;
          font-weight: 500;
          color: #7e7d7b;
        }
        .LFxpIfByOQ {
          margin-left: 12px;
        }
      }
     
    }
  }
}
