.ORjWqZhiMa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 60px;
  .vJllWzoKWq {
    .OsyOCYSXXP {
      color: #565656;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 6px;
    }
    .SCzNftCLdJ {
      font-size: 20px;
      color: #303030;
      font-weight: bold;
    }
  }
  .SmMNKDkTEp {
    border: 2px solid #5818c6;
    color: #5818c6;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #ffffff;
    width: 116px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.jAsPAVZdKB {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.jVAOJeMkQB {
  padding-left: 16px;
  padding-right: 16px;

  .LtmzbXMPmu {
    display: flex;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #eae5dd;
    border-radius: 12px;
    margin-bottom: 32px;

    .lLYweAYyIE {
      .XBNEzJLAwn {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
      }
      .UCRZVjkYqS {
        font-size: 14px;
      }
    }
    .yeWzaTzjuw {
      padding-left: 12px;
      .NJWJgXIEHi {
        width: 60px;
      }
    }
  }
}

.LegJTGaAQW {
  padding-left: 16px;
  padding-right: 16px;
  .KciMencMsJ {
    .UUtTvQUqzI {
      padding: 12px;
      background-color: #5012bb;
      border-radius: 12px;
      position: relative;
      margin-bottom: 12px;

      .XbPoHCTvpn {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #ffffff;
      }
      .LnAKdOewQN {
        font-size: 12px;
        color: #ffffff;
        margin-bottom: 50px;
        font-weight: 300;
      }
      .MddLAPLZiy {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .KGGnfziyVM {
          width: 50px;
          height: 50px;
          border-radius: 12px;
          border: 1px solid #ffffff;
          color: #ffffff;
          font-size: 26px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .bJTHViSPSl {
          padding-left: 12px;
          font-size: 12px;
          color: #ffffff;
          font-weight: 300;
        }
      }
      .fTukIYafkn {
        position: absolute;
        right: 0;
        bottom: 12px;
        .hIQvSmRLaB {
          width: 80px;
        }
      }
    }
    .BhiFWknwyt {
      padding: 12px 12px 0 12px;
      background-color: #5012bb;
      border-radius: 12px;
      position: relative;
      .uozfmJXirp {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #ffffff;
      }
      .fHClhmiHcY {
        font-size: 12px;
        color: #ffffff;
        font-weight: 300;
        padding-bottom: 150px;
        padding-right: 65px;
      }
      .tbwSlfqvIv {
        .XavDWYKEgA {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 95px;
        }
      }
    }
  }
}
